.beneficios {
    display: flex;
    margin: 5% 15%;
}

.titulo__beneficios {
    font-size: 40px;
    font-weight: 600;
    width: 90%;
    margin: 1em 0;
}

.texto__beneficios {
    font-size: 16px;
    font-weight: 400;
    color: var(--cor-texto-secundario);
    width: 75%;
    margin: 3em 0;
    line-height: 2;
}

.botao__beneficios {
    text-decoration: none;
    background-color: var(--cor-secundaria);
    color: var(--cor-branca);
    padding: 1em 2em;
    border-radius: 30px;
}

.lista__beneficios{
    display: flex;
    flex-wrap: wrap;
    margin-top: 2em;
}

.conteudo-lista__beneficios {
    height: 8vw;
    width: 8vw;
    margin: 1em;
    list-style: none;
    border-radius: 10px;
    border-color: var(--cor-borda);
    border-width: 1px;
    border-style: solid;
    text-align: center;
}

.link-lista__beneficios {
    text-decoration: none;
    color: var(--cor-preta);
}

.teste p{
    text-align: center;
    margin-top: 20px;
}

.teste img{
    margin-top: 40px;
    max-width: 100%%;
    height: auto;
}

@media screen and (max-width: 414px) {

    .beneficios {
        width: 0 80vw;
    }

    .container__beneficios {
        text-align: center;
    }

    .beneficios {
        flex-direction: column;
        text-align: center;
    }

    .titulo__beneficios {
        margin: 2em 0 2em 1em;
        margin-top: 150px;
        font-size: 15px;
    }

    .texto__beneficios {
        margin: 2em 0 4em 3em;
        font-size: 10px;
    }

    .botao__beneficios {
        margin-right: 20px;
    }

    .lista__beneficios {
        flex-direction: column;
    }

    .conteudo-lista__beneficios {
        height: 28vw;
        width: 28vw;
        margin: 2em 0 2em 4.5em;
    }

    .teste img {
        margin: 1em;
    }

    .teste p{
        font-size: 15px;
        margin: 0;
    }
}