.businessman {
    margin: 5% 15%;
    background-color: var(--cor-lista-hotels);
    border-radius: 24px;
    align-items: center;
}

.container__businessman {
    display: flex;
    align-items: center;
}

.businessman__conteudo {
    flex-direction: column;
    margin: 0 7%;
}

.texto__Businessman {
    line-height: 1.5;
    color: var(--cor-texto-secundario);
}

.titulo__businessman {
    font-size: 24px;
    font-weight: 600;
    margin: 3em 0 1em 0;
}

@media screen and (max-width: 412px) {
    .businessman {
        margin: 2em;
        width: 85%;
    }

    .container__businessman {
        flex-direction: column;
    }

    .texto__Businessman {
        font-size: 10px;
        margin-bottom: 10px;
    }

    .img__aspas {
        width: 4vw;
    }

    .titulo__businessman {
        font-size: 15px;
    }

    .imagem__businessman {
        width: 99%;
        border-bottom-left-radius: 12px;
    }
}