.cabecalho__juncao{
    display: flex;
    justify-content: center;
    gap: 80px;
}

.cabecalho__itens {
    list-style: none;
    margin: 3em 0;
}

.imagem__menu__hamburguer {
    background-color: var(--cor-secundaria);
    padding: 0 1em;
}

.cabecalho__intens-links {
    text-decoration: none;
    color: var(--cor-texto);
}

.menu__login {
    text-decoration: none;
    color: var(--cor-branca);
    padding: 1em 2em;
    background: var(--cor-secundaria);
    border-radius: 35px;
}

.conteudo__menu__hamburguer, .container__botao, .imagem__menu__hamburguer, .menu__login__hamburguer{
    display: none;
}

@media screen and (max-width: 412px) {
    .conteudo__menu__hamburguer, .container__botao, .imagem__menu__hamburguer {
        display: block;
        align-items: center;
        padding: 1em 1em;
        margin: 1.5em 0 0 2em;
    }

    .menu__login__hamburguer {
        display: block;
        text-decoration: none;
        color: var(--cor-branca);
        padding: 1em 2em;
        background: var(--cor-secundaria);
        border-radius: 24px;
        margin: 0;
    }

    .cabecalho__itens {
        margin: 1.5em 2.5em;
    }

    .menu__hamburguer {
        display: flex;
        justify-content: space-between;
    }

    .conteudo__menu__hamburguer {
        background-color: var(--cor-secundaria);
        list-style: none;
        position: absolute;
        top: 14vw;
        display: none;
    }
    
    .container__botao:checked~.conteudo__menu__hamburguer{
        display: block;
    }

    .cabecalho__intens-links {
        color: var(--cor-branca);
    }

    .container__botao {
        display: none;
    }

    .menu__login {
        margin-left: 100%;
    }

    .lista__menu__hamburguer {
        padding: 1em;
    }

    .cabecalho__juncao {
        display: none;
    }
}