.container__hotels {
    display: flex;
    justify-content: space-between;
    margin: 0 15%;
}

.botao-lista__hotels {
    background-color: var(--cor-terciaria);
    text-decoration: none;
    color: var(--cor-secundaria);
    padding: 1em 2em;
    border-radius: 24px;
}

.conteudo__hotels {
    border-radius: 24px;
    background-color: var(--cor-lista-hotels);
    height: 25vw;
}

.titulo-lista__hotels {
    margin: 3.5em 0 0.5em 6.8em;
    font-size: 40px;
    font-weight: 600;
}

.texto-lista__hotels {
    width: 30%;
    font-size: 16px;
    font-weight: 400;
    color: var(--cor-texto-secundario);
}

.conteudo-lista__hotels {
    margin-top: 2em;
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 2em;
}

.texto__rua {
    font-size: 12px;
    font-weight: 400;
    color: var(--cor-secundaria);
    margin: 1em 0 1em 1em;
}

.titulo__hotels {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 1em;
    margin: 0 0 1em 0.5em;
}

.conteudo__preços {
    display: flex;
    margin: 0 1em;
}

@media screen and (max-width: 414px) {
    .titulo-lista__hotels {
        text-align: center;
        font-size: 15px;
        margin: 145vw 0 2em 0;
    }

    .container__hotels {
        flex-direction: column;
    }

    .texto-lista__hotels {
        text-align: center;
        margin-bottom: 1em;
        font-size: 10px;
        width: 100%;
    }

    .botao-lista__hotels {
        margin-left: 2.5em;
        text-align: center;
        width: 50%;
    }

    .conteudo-lista__hotels {
        flex-direction: column;
        gap: 10em;
    }

    .imagem__lista__hotels {
        width: 84vw;
    }

    .conteudo__hotels {
        height: 46vw;
        margin: 2em 2em;
    }

    .texto__rua {
        font-size: 10px;
        margin: 0.5em 0 0.5em 0.5em;
    }

    .titulo__hotels {
        font-size: 15px;
    }

    .conteudo__preços {
        font-size: 10px;
    }
    
    .imagem__estrelas {
        width: 14vw;
    }
}