.lista__pesquisa {
    position: absolute;
    top: 34vw;
    left: 1vw;
    background-color: var(--cor-branca);
    border-radius: 60px;
    padding: 1em;
    margin-left: 17%;
    z-index: 1;
}

.coneteudo-lista__pesquisa {
    display: flex;
    justify-content: center;
    gap: 3em;
    list-style: none;
}

.conteudo-lista {
    flex-direction: column;
}

.titulo__lista {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 1em;
    width: 7em;
}

.texto__pesquisa {
    font-size: 14px;
    font-weight: 400;
    color: var(--cor-texto-secundario);
}

.input__lista {
    background-color: var(--cor-secundaria);
    border-radius: 34px;
    border-color: transparent;
    padding: 2em;
}

.input__lista::placeholder {
    color: var(--cor-branca);
    background-image: url(../assets/lupa-1.svg);
    background-repeat: no-repeat;
    padding: 0.3em;
    padding-left: 2em;
}


@media screen and (max-width: 412px) {
    .lista__pesquisa {
        margin-left: 27%;
        top: 80vw;
        background-color: var(--cor-terciaria);
    }

    .conteudo-lista {
        text-align: center;
    }

    .coneteudo-lista__pesquisa {
        gap: 1em;
        flex-direction: column;
    }

    .linha__lista {
        width: 25vw;
        height: 1px;
    }

    .titulo__lista {
        margin-right: 0;
        font-size: 15px;
    }

    .input__lista {
        padding: 1em;
        width: 8em;
    }

}
